{% extends "base.html" %}
{% load user_filters %}
{% block header %} {% if is_edit %} Редактировать запись {% else %} Добавить запись {% endif %} {% endblock %}
{% block content %}
{% for error in form.errors %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endfor %}
{% if is_edit %}<form method="POST" action="{% url 'post_edit' post.author post.id %}" enctype="multipart/form-data">
  {% else %}<form method="POST" action="{% url 'new_post' %}" enctype="multipart/form-data">{% endif %}
    {% csrf_token %}
    {% for field in form %}
    {{ field.label }} <br>
    {{ field|addclass:"form-control" }}
    {{ field.help_text }} <br>
    {% endfor %}
    <button type="submit">{% if is_edit %}Сохранить{% else %}Добавить запись{% endif %}</button>
  </form>
  {% endblock %}